
header {
	border-bottom: 1px solid #ccc;
}

nav {
	
}

form {
	
}

form div {
	
}

label{ 
	color: red;
}

#submit {
	
}

div.terms-text{
	border: 1px solid #ccc;
	height: 100px;
	overflow: scroll;
}

.notes {
	color:blue;
}